.a{
  width: 320px;
  height: 240px;
  margin: auto;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  color: yellow;
  opacity: 0.75;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.b{
  width: 320px;
  height: 240px;
  margin: auto;
  border-bottom: 1px solid black;
  color: yellow;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.c{
  width: 320px;
  height: 240px;
  margin: auto;
  border-right: 1px solid black;
  color: yellow;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.d{
  width: 320px;
  height: 240px;
  margin: auto;
  color: yellow;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.parent{
  height: 480px;
  width: 640px;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */

  position: relative;
  video{
    height: 482px;
    width: 642px;
  }
  box-sizing: border-box;

}

.upperCalibration {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  img {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 42%;
    width: 100px;
  }
}
.gridparent{
  height: 482px;
  width: 642px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}
.feedback{
  background-color: green;
  opacity: 0.5;
}

.buttonParent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  p{
    width: 640px;
    font-family: sans-serif;
  }

  button {
    margin: 15px;
    padding: 10px;
  }

  .calibrateButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.visible {
  visibility: visible;
}

.notVisible {
  visibility: hidden;
}
