* {
  --black: #000229; 
  --white: #F4F4F8; 
  --blue: #009FB7;
  --yellow: #FFE045;  
  --orange: #FE4A49;  
  --grey: #E6E6EA;
  font-family: sans-serif;
}

.chatContainer {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.me {
  background-color: var(--blue);
  text-align: end;
  max-width: 90%;
  position: relative;
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 60%;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.me::after {
  /* Position content*/
  content: "";
  display: block;
  position: absolute;
  z-index: -1;

  /* Place shape*/
  right: -3px;
  bottom: 4px;

  width: 0;
  height: 0;

  /* Create shape using borders*/
  border-top: -8px solid transparent;
  border-right: 8px solid var(--blue);
  border-bottom: 8px solid var(--blue);

  transform: rotate(-45deg);
}

.classmate {
  background-color: var(--grey);
  text-align: start;
  max-width: 90%;
  position: relative;
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 60%;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.classmate::after {
  /* Position content*/
  content: "";
  display: block;
  position: absolute;
  z-index: -1;

  /* Place shape*/
  left: -3px;
  bottom: 4px;

  width: 0;
  height: 0;

  /* Create shape using borders*/
  border-top: -8px solid transparent;
  border-right: 8px solid var(--grey);
  border-bottom: 8px solid var(--grey);

  transform: rotate(-45deg);
}

.chatInput {
  display: flex;
  justify-content: space-between;
  margin: 2px 5px;

  input {
    border: 2px solid black;
    width: 100%;
  }
}
