.Results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px; 
  margin: auto;

  h2{
    margin-bottom: 0px;
  }

  img {
    width: auto;
    max-height: 125px;
  }

}   
