.addPromptContainer {
 
  background: grey;
  width: 100%;

  form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
  }
}